<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="template">
<body>
<section layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Additions</h1>
        <p class="mb-4" th:text="#{textAboutAdditions}"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><a th:href="@{/addition/add}" th:text="#{addAddition}">Add
                    additions</a></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Addition</th>
                            <th>Description</th>
                            <th>Available Quantity</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Addition</th>
                            <th>Description</th>
                            <th>Available Quantity</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="add : ${addition}">
                            <td th:text="${add.name}">Brand</td>
                            <td th:text="${add.description}">Model</td>
                            <td th:text="${add.quantity}">Class</td>
                            <td><a th:href="@{addition/delete(id=${add.id})}" th:text="#{delete}">Delete add</a>
                                <a th:href="@{addition/edit(id=${add.id})}" th:text="#{edit}">Edit add</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</section>
</body>
</html>