<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/html"
      layout:decorator="template">
<body>
<section layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"th:text="#{editAddition(${add.name})}">Edit Addition</h1>
        <p class="mb-4" th:text="#{textAboutAdditionEditForm}"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                          action="/addition/edit" th:object="${add}" method="post">
                         <input type="hidden" th:value="*{id}" th:field="*{id}">
                        <p>Name: <input type="text" th:field="*{name}"/></p>
                        <p>Descritpion: <input type="text" th:field="*{description}"/></p>
                        <p>Quantity: <input type="text" th:field="*{quantity}"/></p>
                        <p>Price per day: <input type="text" th:field="*{pricePerDay}"/></p>

                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</section>
</body>
</html>