<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/html"
      layout:decorator="template">
<body>
<section layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"th:text="#{editCar(${car.model})}">Edit Car</h1>
        <p class="mb-4" th:text="#{textAboutCarEditForm}"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                          action="/car/edit" th:object="${car}" method="post">
                        <input type="hidden" th:value="*{id}" th:field="*{id}">
                        <input type="hidden" th:value="*{brandId}" th:field="*{brandId}">
                        <input type="hidden" th:value="*{model}" th:field="*{model}">
                        <input type="hidden" th:value="*{classCarId}" th:field="*{classCarId}">
                        <input type="hidden" th:value="*{yearOfProduction}" th:field="*{yearOfProduction}">
                        <p>Price per Day:<input type="text" th:field="*{pricePerDay}"/></p>
                        <p>Status:<select th:field="*{status}">
                            <option th:value="true" th:text="available"></option>
                            <option th:value="false" th:text="unavailable"></option>
                        </select></p>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</section>
</body>
</html>