<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table border="1">
    <h1>Cars list</h1>
    <tr>
        <th>BRAND</th>
        <th>MODEL</th>
        <th>CLASS</th>
        <th>YEAR</th>
        <th>PRICE per DAY</th>
        <th>RATING</th>
        <th>STATUS</th>
        <th>ACTION</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brandCarName}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.classCarName}"></td>
        <td th:text="${car.yearOfProduction}"></td>
        <td th:text="${car.pricePerDay}"></td>
        <td th:text="${car.rating}"></td>
        <td th:text="${car.status}? #{true} : #{false}">yes</td>
    </tr>
</table>
</body>
</html>