<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="template">
<body>
<section layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Equipments</h1>
        <p class="mb-4" th:text="#{textAboutEquipments}"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
<!--                    <a th:href="@{/addition/add}" th:text="#{addAddition}">Add additions</a>-->
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Equipment</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Addition</th>
                            <th>Description</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="equ : ${equipments}">
                            <td th:text="${equ.name}">Brand</td>
                            <td th:text="${equ.description}">Model</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</section>
</body>
</html>